{% extends "core/base.html" %}



  
{% block producto_destacado %} 
  {% if request.path == '/category/' %}
    <div class="alert alert-primary" role="alert">
      Reseñas de la categoria: xxxxx
    </div>
  {% endif %}  
  {% if products.start_index == 1 %}
      <div class="row p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
          <div class="col-lg-6 px-0">
            <h1 class="display-10 fst-italic">{{featured_product.title}}</h1>
            <p class="lead my-3">{{featured_product.excerpt}}</p>
            <p class="lead mb-0"><a href={% url 'review' %} class="text-body-emphasis fw-bold">Ver Reseña...</a></p>
          </div>
          <div class="col-lg-6 px-0">
            <div class="w-100 h-100">
              <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            </div>
          </div>
      </div>
  {% endif %}
{% endblock producto_destacado %}
  
    
    {% block content %}
    <!-- Tarjeta de producto 1 -->
    {% for product in products %}
    
        {% if forloop.counter > 1 or products.start_index > 1 %}
        <div class="col-md-12">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <a href={% url 'category' %} class="icon-link gap-1 icon-link-hover"> 
                <strong class="d-inline-block mb-2 text-primary-emphasis">
                  {{product.category}}
                </strong>
              </a>
              <h4 class="mb-0">{{product.title}}</h4>
              <div class="mb-1 text-body-secondary">{{product.created |date:"d F"}}</div>
              <p class="card-text mb-auto">{{product.excerpt | slice:":80"}}...</p>
              <a href={% url 'review' %} class="icon-link gap-1 icon-link-hover">
                Ver Reseña
                <svg class="bi"><use xlink:href="#chevron-right"/></svg>
              </a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="400" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            </div>
          </div>
        </div>
        {% endif %}
    {% endfor %}






  <!-- Paginación de tarjetas de productos -->
  <hr>
  {% comment %} {{products}} <br>
  {{products.has_previous}} <br>
  {{products.has_next}} <br>
  {{products.number}} <br>
  {{products.paginator.num_pages}}<br>
  {{products.paginator.page_range}}<br>
  {{products.start_index}}<br>
  {{products.has_other_pages}}<br>
  {{products.object_list}}<br>
  {{forloop.counter}}<br>
  {{products.first}}
  {{products.previous_page_number}} {% endcomment %}


  <hr>

  <nav>
    <ul class="pagination">
      <li class="page-item">
        <a href='/' class="page-link {% if products.number == 1 %} disabled {% endif %}">Inicio</a>
      </li>
      <li class="page-item">
        <a href="{% if products.previous_page_number == 1 %}/{% elif products.previous_page_number >= 2 %}?page={{products.previous_page_number}}{% endif %}" class="page-link {% if products.number == 1 %} disabled {% endif %}">Anterior</a>
      </li>
      {% for page in products.paginator.page_range %}
      <li class="page-item {% if page == products.number %}active {% endif %}">
        <a href="?page={{page}}" class="page-link">{{page}}</a>
      </li>    
      {% endfor %}
      <li class="page-item">
        <a href="{% if products.has_other_pages and products.has_next %}?page={{products.next_page_number}} {% elif not products.has_next %}?page={{products.paginator.num_pages}}{% endif %}" class="page-link {% if products.number == products.paginator.num_pages %} disabled {% endif %}">Siguiente</a>
      </li>
      <li class="page-item ">
        <a href='/?page={{products.paginator.num_pages}}' class="page-link {% if products.number == products.paginator.num_pages %} disabled {% endif %}">Último</a>
      </li>

    </ul>

  </nav>



  {% comment %} <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item {% if not products.has_previous %} disabled {% endif %}">
        <a class="page-link {% if not products.has_previous %} disabled {% endif %}" href={% url 'home' %} tabindex="-1" aria-disabled="true">Inicio</a>
      </li><li class="page-item disabled">
        <a class="page-link" href="/?page={{products.previous_page_number}}" tabindex="-1" aria-disabled="true">Anterior</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link {% if not products.has_next %} disabled {% endif %}" href="/?page={{products.next_page_number}}">Siguiente</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/?page={{products.paginator.num_pages}}">Último</a>
      </li>
    </ul>
  </nav>           {% endcomment %}
  </div>


  {% endblock content %}

